<!-- <div class="image-gallery"> -->
<!--   {% for image in include.images %} -->
<!--     <div class="gallery-item"> -->
<!--       <a href="{{ image.src }}" data-lightbox="gallery" data-title="{{ image.caption }}"> -->
<!--         <img src="{{ image.thumb }}" alt="{{ image.caption }}" class="gallery-thumbnail"> -->
<!--       </a> -->
<!--       <p class="caption">{{ image.caption }}</p> -->
<!--     </div> -->
<!--   {% endfor %} -->
<!-- </div> -->

<div class="image-gallery">
  {% for image in include.images %}
    <div class="gallery-item">
      <a href="{{ image.src }}" class="gallery-item-link" data-index="{{ forloop.index0 }}" data-title="{{ image.caption }}">
        <img src="{{ image.thumb }}" alt="{{ image.caption }}" class="gallery-thumbnail">
      </a>
      <p class="caption">{{ image.caption }}</p>
    </div>
  {% endfor %}
</div>
