body {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider .slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.slider .slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.controls {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.controls ul {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
}
.controls li {
  list-style: none;
}
.controls li a {
  display: block;
  width: 1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin: 10px 0;
  opacity: 0.8;
}
.controls li a:hover {
  opacity: 1;
}

.content {
  padding: 50px;
  box-sizing: border-box;
  font-family: Consolas;
}
.content h1 {
  font-size: 3em;
  text-align: center;
}
.content p {
  font-size: 1.4em;
}